.confirmation {
  margin-bottom: 20px;

  .result {
    &__container {
      padding: 20px;
      background: #ededed;
      border-radius: 20px;
      width: 400px;
      margin: auto;
    }

    &__title {
      text-align: center;
      margin-bottom: 15px;
      font-size: clamp(24px, 5vw, 28px);
      font-weight: 600;
    }

    &__info {
      line-height: 24px;
      letter-spacing: 0.03em;
    }

    @media (max-width: 450px) {
      &__container {

        width: 100%;

      }
    }
  }
}
