.basketTitle {
  font-size: 34px;
  font-weight: 500;
  line-height: 39.84px;
  color: #323334;
  text-transform: uppercase;
  text-align: center;
  margin-top: clamp(20px, 5vw, 30px);
  margin-bottom: clamp(25px, 5vw, 50px);
}
