.futuristic {
  &__image {
    background-size: cover;
    width: 100%;
  }
}

.singup {
  margin: 74px 0 108px 0;

  &__container {
    display: flex;
    justify-content: space-between;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 6px;
  }

  &__title {
    font-family: Plus Jakarta Sans;
    color: #222;
    font-size: 28px;
    font-weight: 700;
    line-height: 35.28px;
  }

  &__text {
    color: #222;
    font-family: Plus Jakarta Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 22.68px;
  }

  &__form {
    display: flex;
    align-items: center;
  }

  &__input {
    width: 515px;
    height: 50px;
    border-radius: 30px 0px 0px 30px;
    border: 1px solid #222;
    padding: 15px 0 15px 26px;

    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 20.16px;
  }

  &__button {
    background: #222;
    width: 85px;
    height: 50px;
    border-radius: 0px 30px 30px 0px;
  }

  @media (max-width: $breakpoint-lg) {
    &__input {
      width: 400px;
    }
  }

  @media (max-width: $breakpoint-md) {
    & {
      margin: 26px 0 54px 0;
    }

    &__container {
      flex-direction: column;
      align-content: center;
      flex-wrap: wrap;
      gap: 15px;
    }

    &__content {
      align-items: center;
    }
  }

  @media (max-width: 530px) {
    &__form {
      width: 100%;
    }
    &__input {
      width: 100%;
    }
    &__title {
      text-align: center;
      font-size: 25px;
    }
    &__text {
      text-align: center;
      font-size: 17px;
    }
  }
}
