// Media breakpoints
$breakpoint-xl: 1440px;
$breakpoint-lg: 1280px;
$breakpoint-md: 1024px;
$breakpoint-sm: 820px;
$breakpoint-xs: 470px;
$breakpoint-s: 400px;

// Font colors
$white: #fff;
$black: #000;
$dark-black: #323334;
$dark-grey: #909090;
$dark: #706d6d;

// Background colors
$footer-color: #222;
$homePage-color: #fafafa;


.footer {
  flex: 0 0 auto;
  padding: 50px 0;
  background: $footer-color;
  color: $white;
  font-family: Roboto;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
  }

  .info {
    max-width: 470px;

    &__logo {
      img {
        width: 173px;
        height: 75px;
      }
    }

    &__info {
      display: flex;
      flex-direction: column;
      gap: 5px;
      margin-top: 40px;
      font-size: clamp(22px, 5vw, 24px);
      padding: 30px 0;
      border-top: 1px solid #817c7c;
      border-bottom: 1px solid #817c7c;
    }

    &__company-id {
      font-size: clamp(21px, 5vw, 23px);
      color: #6b6767;
    }

    &__social {
      margin-top: 20px;
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
  }

  .banner {
    &__titie {
      font-size: clamp(24px, 5vw, 30px);
      margin-bottom: 20px;
    }

    &__banner {
      img {
        border-radius: 30px;
        width: 100%;
        max-width: 600px;
      }
    }
  }

  @media (max-width: 950px) {
    &__container {
      flex-direction: column;
    }

    .info {
      min-width: 100%;
      align-self: start;

      &__logo {
        img {
          display: block;
          margin: auto;
        }
      }

      &__social {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        max-width: 525px;
        margin: 20px auto 0;
      }
    }
  }
}
