.snackbar {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #323232;
  color: #fff;
  padding: 16px;
  border-radius: 4px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  opacity: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;
  font-family: Plus Jakarta Sans;
  width: 290px;

  &.enter {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) translateY(0);
  }

  &.exit {
    opacity: 0;
    visibility: hidden;
    transform: translateX(-50%) translateY(100%);
  }

  .snackbar-message {
    width: 100%;
  }

  .snackbar-close {
    background: transparent;
    border: none;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    padding: 0;
    margin-bottom: 5px;
  }
}
