@import './reset';
@import './fonts';
@import './variables';

// Components
@import '../components/Header/header';
@import '../components/Footer/footer';
@import '../components/CardSwiper/CardSwiper';

// Pages
@import '../pages/AboutUsPage/AboutUsPage';
@import '../pages/AccountPage/AccountPage';
@import '../pages/BasketPage/BasketPage';
@import '../pages/BlogPage/BlogPage';
@import '../pages/ContactUsPage/ContactUsPage';
@import '../pages/FavoritesPage/FavoritesPage';
@import '../pages/HomePage/HomePage';
@import '../pages/SearchPage/SearchPage';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex: 1 0 auto;
  width: 100%;
}

.nav-title {
  margin-top: 38px;
  color: $dark-black;
  font-family: Plus Jakarta Sans;
  font-size: 16px;
  font-weight: 700;
  line-height: 20.16px;
  text-align: center;

  a {
    color: $dark-black;
  }
}

.active-link {
  color: $dark !important;
  font-weight: bold;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 1296px;
  margin: auto;
}

@media (max-width: $breakpoint-xl) {
  .container {
    padding: 0 20px;
  }
}

@media (max-width: $breakpoint-xs) {
  .container {
    padding: 0 20px;
  }
}
