.home-page-title {
  font-family: Plus Jakarta Sans;
  color: #222;
  text-transform: uppercase;
  font-size: 50px;
  font-weight: 700;
  line-height: 75.6px;
  text-align: center;

  @media (max-width: $breakpoint-md) {
    font-size: 30px;
  }
  @media (max-width: $breakpoint-xs) {
    font-size: 25px;
  }
}

.dreams {
  position: relative;
  overflow: hidden;
  margin-top: 33px;
  padding-top: 32px;
  border-top: 1px solid #222;
  width: 100%;
  border-bottom: 1px solid #222;
  height: 639px;
  background: $homePage-color;

  &__img {
    position: absolute;
    right: -10px;

    img {
      border-radius: 63px 0px 0px 0px;
      background-size: cover;
    }
  }

  &__content {
    margin-top: 74px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    max-width: 565px;
  }

  &__img-sider {
    position: absolute;
    left: 0;
  }

  @media (max-width: $breakpoint-xl) {
    &__img {
      right: -200px;
      width: 45%;
    }

    &__mini-img {
      width: 420px;
    }

    &__title {
      font-size: clamp(45px, 4vw, 55px);
    }

    &__content {
      margin-left: 100px;
      gap: 10px;
    }
  }

  @media (max-width: $breakpoint-sm) {
    &__img {
      display: none;
    }

    &__img-sider {
      left: 0;
    }

    &__title {
      font-size: clamp(45px, 6vw, 70px);
    }

    &__content {
      position: absolute;
      right: 110px;
      margin-top: 74px;
      margin-left: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0px;
      max-width: 565px;
    }

    &__mini-img {
      width: 300px;
    }
  }

  @media (max-width: 625px) {
    &__title {
      font-size: 40px;
    }

    &__content {
      margin-left: 45px;
    }

    &__img-sider {
      left: -20px;
    }
  }

  @media (max-width: 545px) {
    &__title {
      font-size: 33px;
    }
  }

  @media (max-width: $breakpoint-xs) {
    & {
      height: auto;
    }

    &__mini-img {
      width: 250px;
    }
    &__img-sider {
      display: none;
    }

    &__content {
      padding: 00px 0 40px 0;
      display: flex;
      justify-content: center;
      position: static;
      margin: 0;
    }

    .main-title {
      font-size: clamp(30px, 6vw, 40px);
      text-align: center;
    }

    &__title {
      font-size: clamp(30px, 6vw, 30px);
    }
  }
}

.grey-block {
  background: #eae9e7;
  height: 100px;
}

.about {
  &__content {
    display: flex;
    justify-content: center;
    gap: 40px;
    align-items: center;
    margin: 64px 0;
    padding: 16px 0;
    border-top: 1px #222 solid;
    border-bottom: 1px #222 solid;
  }

  &__item {
    width: 455px;

    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
  }

  @media (max-width: $breakpoint-sm) {
    &__content {
      flex-wrap: wrap;
      gap: 35px;
    }

    &__item {
      line-height: 24px;
    }
  }

  @media (max-width: $breakpoint-lg) {
    &__content {
      gap: 40px;

      margin: 50px 0;
      padding: 14px 0;
    }
  }
  @media (max-width: $breakpoint-md) {
    &__content {
      margin: 40px 0;
    }
  }

  @media (max-width: $breakpoint-xs) {
    &__item {
      font-size: 16px;
      line-height: 21px;
    }
  }
}

.cards {
  margin: auto;
  margin-bottom: 80px;
  font-family: Plus Jakarta Sans;

  .swiper-wrapper {
    display: flex;
    align-items: center;
  }

  .mySwiper {
    width: 100%;
  }

  .swiper-slide {
    display: flex;
    align-items: stretch; // Растягивает элементы по высоте
    // height: 100%;
  }

  .item {
    box-shadow: 8px 8px 11px 5px rgba(34, 60, 80, 0.16);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__img {
      width: 100%;
      border-radius: 20px;
      object-fit: cover; // Для корректного отображения изображений
    }

    &__content {
      padding: 10px;
      flex: 1; // Позволяет содержимому растягиваться по высоте
    }

    &__title {
      text-transform: uppercase;
      font-weight: 550;
      font-size: clamp(21px, 5vw, 24px);
      text-align: center;
      margin-bottom: 20px;
    }

    &__description {
      font-family: Roboto;
      font-size: clamp(16.5px, 5vw, 18px);
      line-height: 25.13px;
      margin-bottom: 20px; // Уменьшено, чтобы не занимать слишком много места
    }

    &__images {
      display: flex;
      justify-content: space-around;
      width: 100%;

      img {
        width: 22%;
        border-radius: 10px;
      }
    }
  }

  &__order {
    cursor: pointer;
    margin-top: 20px; // Уменьшено, чтобы не занимать слишком много места
    background: #000;
    padding: 15px 30px; // Уменьшено, чтобы соответствовать дизайну
    border-radius: 10px;
    font-size: 18px; // Уменьшено, чтобы соответствовать дизайну
    color: #fff; // Изменено для читаемости
    width: 100%;
    text-align: center; // Для выравнивания текста по центру
  }
}
